<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" >
    <link href="css/style.css" rel="stylesheet">

    <script type="text/javascript" src="react/react.js"></script>
    <script type="text/javascript" src="react/react-dom.js"></script>
    <script type="text/javascript" src="react/browser.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Nav -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Freetuts.net</a>
            </div>
            <!-- Nav collapse -->
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Giới Thiệu</a>
                    </li>
                    <li>
                        <a href="#">Tin Tức</a>
                    </li>
                    <li>
                        <a href="#">Liên Hệ</a>
                    </li>
                </ul>

                <div class="navbar-right">
                    <button class="btn btn-danger navbar-btn">Register</button>
                    <button class="btn btn-info navbar-btn">Login</button>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Navigation -->

    <!-- Page Content -->
    <div id="wrapper">

    </div>

    <!-- /.container -->
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Layout Blog - Freetuts.net</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</body>
<script type="text/babel" src="/js/main.js"></script>
</html>